@use "var";

.news-items {
  max-width: 1040px;
  width: 100%;
  margin: 160px auto 0;
  a {
    display: block;
    transition: transform 0.3s ease 0s;

    &:hover {
      transform: scale(1.1);
    }
  }

  @include var.mq('sp') {
    margin-top: 0;
    max-width: 310px;
  }
}
.news-item {
  display: flex;
  align-items: center;
  padding: 22px 0 24px;
  border-bottom: 1px solid #E0E0E0;

  @include var.mq('sp') {
    flex-direction: column;
    width: 100%;
    padding: 0 0 24px 0;
    margin-top: 48px;
  }
}
.news-img {
  width: 260px;

  @include var.mq('sp') {
    width: 100%;
  }
}
.news-content {
  width: calc(100% - 260px);
  padding-left: 40px;

  @include var.mq('sp') {
    width: 100%;
    padding-left: 0;
    margin-top: 24px;
  }
}
.news-date {
  font-size: 14px;
  line-height: 1;
}
.news-title {
  font-size: 18px;
  line-height: (31 / 18);
  margin-top: 10px;

  @include var.mq('sp') {
    font-size: 16px;
    line-height: (27 / 16);
  }
}
.news-text {
  color: var.$color-gray;
  margin-top: 18px;
  font-size: 14px;
}
